<p id="notice"><%= notice %></p>

<h1>Staffs</h1>

<table id='staffs-table', class="table table-striped table-bordered" cellspacing="0" width="100%",  data-source="<%= staffs_path(format: :json)%>">
  <thead>
    <tr>
   	  <th>ID</th>
      <th>Name</th>
      <th>Job title</th>
      <th>Bio</th>
      <th>Avatar</th>
      <th>created_at</th>
      <th>updated_at</th>
      
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>

<br>

<%= link_to 'New Staff Member', new_staff_path %>
