<div class ='container'>

    
    <div class="col-md-10">
        <h2 class="page-header">Our Team</h2>
            </div>
    <div class="col-md-4 col-sm-5  col-md-offset-4 text-center">
        <%= image_tag("musomoka.png", :alt => "", :class => 'img-circle img-responsive img-center') %>
        <h3>Musomoka Chilimboyi<br/>
            <small>Lead Developer</small>
        </h3>
        <p> Musomoka was the lead developer on this project, lead it from the inception to its conclusion. Built both the front and back end. </p>
    </div>  

  
</div>