<h1>StaticPages#Contact</h1>
<p>Find me in app/views/static_pages/Contact.html.erb</p>

<div class="box1" id="main">

</div>


<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>