<!-- About -->
<section id="about" class="about">
    <div class="container content-background landing-page">
        <div class="row">
            <div class= "col-lg-12 text-center">
                <h1 class="display-1 landing-page-text">Welcome to CashFlosum</h1>
                <p class="lead display-3 sub-text">Get a hold of your budget and keep track of paymnets and income...</p>
                <div class='btn-group-vertical display-3'></div>

                <%if user_signed_in?%>

                   <%= link_to 'Enter Cash-Flosum', expenses_path, class: 'btn btn-success sub-text' %>

                <%else%>

                     <%= link_to 'Sign into Cash-Flosum', new_user_session_path, class: 'btn btn-success sub-text' %>
                <%end%>
                

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>