/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import 'expenses';
@import 'jquery-ui';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import 'bootstrap-datetimepicker';
@import 'static_pages';
@import 'buttons.bootstrap';
@import "social-share-button";


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/bootstrap/glyphicons-halflings-regular.eot');
  src: url('/assets/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('/assets/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


html,body{
    height: 100%
}

.page-footer{
	height: 50px; 
  width:100%;
	position: static;
    left: 0;
    bottom: 0; 
    margin-top: 5px;
}


.expense-area{
  background-color: #FAFAFA;
	padding: 10px 40px 5px;
	margin: 10px 0px 5px;
	border: 1px solid GREY;
	}

  #form_section{

    display: none;

}

.dataTables_wrapper{
margin-bottom: 30px;

}

	