/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be#9b9a53 added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import 'cashflows';
@import 'jquery-ui';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import 'bootstrap-datetimepicker';
@import 'static_pages';
@import 'buttons.bootstrap';
@import "social-share-button";
@import url('https://fonts.googleapis.com/css?family=Abel|Spectral+SC');


body {
   //background-image: url("main-back.jpeg");


}

.chart-panel {
    
    margin-left: 5px;
    margin-right:5px;

}

.navbar-default {

    background-color: #7E9F99;
    border-color: #4A3D2C;
   
}
.navbar-right {
  
   margin-right: 20px; 
}

.navbar-left {
  
    margin-left: 20px; 
 }
 

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {

    color: #555;
    background-color: #CEDBD9;

}

.navbar-default .navbar-nav > li > a {

    color: white;

}


.content-background{
 
  border-radius: 10px;
  margin-bottom: 20px;

  
}






@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/bootstrap/glyphicons-halflings-regular.eot');
  src: url('/assets/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('/assets/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


html,body{
    height: 100%
}


.main-navigation .container-fluid{
     
      padding-left: 0px;
      padding-right: 0px;
      
  }
  



.page-footer{
	height: 50px; 
  width:100%;
	position: static;
    left: 0;
    bottom: 0; 
    margin-top: 5px;
}


.cashflows_table{
  background-color: #FAFAFA;
	padding: 10px 40px 5px;
	margin: 10px 0px 5px;
	border: 1px solid GREY;
	}

  #form-section{

    display: none;

}

.dataTables_wrapper{
margin-bottom: 30px;

}

	