// Place all the styles related to the expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-on-main-page {

	margin-bottom: 20px;
	margin-top: 10px;

	
#form-group{
	padding:5px;
}




}


.inline-btn{
	vertical-align: bottom;
}

#showform {

	margin: 5px;
}