<footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6 col-md-offset-3">
                <h5 class="text-uppercase">follow </h5>
                <ul class="list-unstyled">
                    <li>
                      <a class="twitter-follow-button" href="hhttps://twitter.com/getaCluedodo" data-show-count ='false' >Follow @TwitterDev</a>
                    </li>
                    
                    <li>
                       <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/Musomoka" aria-label="Follow @Musomoka on GitHub">Follow @Musomoka</a>
                    </li>
                    
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="#"> CashFlosum </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
                      